header, nav, section, footer, aside , article{
	display:block;
}

#top_header{
	background:yellow;	
	padding:10px;
	text-align:center;
}
body {
	width:100%;
	display: -webkit-box;
	-webkit-box-pack:center;
	margin:0px;
	padding:0px;	
}
html{
	margin:0px;
	padding:0px;
	
}
#top_nav{
	background:blue;
	height:10px;
}
#main_content input {
	width:95%;
}
textarea{
	width:95%;
}